<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<h3>CREATE NEW SUDENT</h3>
		</div>
		<div>
			<form action="#" th:action="@{addStudent}" th:object="${student}"
				method="post">
				<input type="text" th:field="*{firstName}" placeholder="Please enter Student first name" class="form-control mb-4 col-6">
				<input type="text" th:field="*{lastName}" placeholder="Please enter Student last name" class="form-control mb-4 col-6">
				<input type="email" th:field="*{email}" placeholder="Please enter Student email" class="form-control mb-4 col-6">
				<div class="form-group">
					<button type="submit" class="btn btn-info mb-4 col-2">SUBMIT</button>
					<a th:href="@{students}" class="btn btn-secondary mb-4 col-2">Back to List</a>
				</div>
			</form>
		</div>
		
	</div>

</body>
</html>